@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,500;1,500&display=swap");

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// Responsive mixin
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: #{$mobile}) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (max-width: #{$tablet}) { @content; }
  }
  @else if $breakpoint == laptop {
    @media (max-width: #{$laptop}) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (max-width: #{$desktop}) { @content; }
  }
}

// Color and Font Variables

$primary-color: #20c997;
$secondary-color: #fff;
$background-color: #212529;
$background-color-2: #343a40;
$text-color: rgba(255, 255, 255, 0.5);
$primary-font: "Poppins", sans-serif;

// Reusable Mixins

@mixin base-str {
  min-height: 400px;
  margin: 0px;
  padding: 70px 0px;
  color: white;
   @include respond(mobile) {
    padding: 40px 5px;
    min-height: 300px;
  }

  @include respond(tablet) {
    padding: 50px 8px;
  }
}
@mixin heading-bg{
  font-size: 8.25rem;
  font-weight: 700;
  color: #6c757d;
  @include respond(mobile) {
   font-size: 2.2rem;
  }
   @include respond(tablet) {
   font-size: 3rem;
  }
}

@mixin heading-style {
  font-size: 2.3rem;
  font-weight: 600;
  color: white; 
  @include respond(mobile) {
    font-size: 1rem;
    font-weight: 500;
  }
  @include respond(tablet) {
    font-size: 1.2rem;
  }
  }

  // Global Styles

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}

.bg-dark-1 {
  background-color: $background-color;
  @include base-str;
}

.bg-dark-2 {
  background-color: $background-color-2;
  @include base-str;
}

.clr{
    color: $primary-color;
}

.section-head
{
  position: relative;
  overflow: hidden;
}

h1{
   @include heading-style;
    text-align: left;
}
p{
    font-size: 1rem;
    font-weight: 400;
    color: $text-color;
    text-align: left;
    line-height: 1.5;
}

h2 {
  @include heading-bg;
  opacity: 0.1;
  text-align: center;
  line-height: 1.3; 
}
h3 {
  @include heading-style;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border2 {
  display: block;
  width: 80px;
  height: 2px;
  background-color: $primary-color !important;
  background: $primary-color !important;
  margin: 10px auto 0 auto;
  @include respond(mobile) {
   margin: 4px auto 0 auto;
  }
  @include respond(tablet) {
    margin: 5px auto 0 auto;
  }
}



.btn-outline-info {
   
    color: $primary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid $primary-color;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($secondary-color, 10%);
        color:$background-color;
        border: 2px solid $secondary-color;
    }
}

.service-box {
      display: flex;     
      gap: 20px; /* space between image and text */
      max-width: 100%;
      margin: 20px 0;

    .icon {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      background-color: $background-color;
      text-align: center;     

    }
    .iconsize{
      padding: 15px;
      font-size: 36px;
      color: $primary-color;
    }
    .iconcontent h4{
       margin: 0 0 10px 0;
       font-size: 18px;
    }

    .iconcontent p{
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      color: $text-color;
      text-align: left;
    }

} 

.progress-bar {
  background-color: $primary-color;
} 
.progress, .progress-stacked
{
  height: 8px;
  background-color: $background-color-2;
}

.resume-content
{
  background: #000;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
h6{
    font-size: 14px;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 10px;  
}
  

}


#resume .form-control {
    background-color: $background-color-2;
    border: none;
    color: $text-color;

    &::placeholder {
        color: lighten($text-color, 20%);
    }

    &:focus {
        background-color: darken($background-color-2, 5%);
        color: $text-color;
        box-shadow: none;
        border-color: $primary-color;
    }

}